body {
  background: black;
  color:white; 
  font-size: 3em;
}


div {
     text-align: center;
     margin-top: 50px;
}

button {
  background:none;
    border:none;
    margin:-50px;
    padding:0;
}

button:hover {
     color: yellow;
}

button:focus {
  outline:0;
}

#temp {
  font-size: 2em;
}

#image {
 background: red;
}