body {
  background: black;
  color: dark grey; 
  font-size: 3em;
}

body {
  background: url(http://cdn.shopify.com/s/files/1/0173/4032/products/fabric_rainbolts_lightning_1024x1024.jpg?v=1377899169) fixed center no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 100px;
  text-align: center;
}

div {
     text-align: center;
     margin-top: 50px;
}

button {
  background:none;
    border:none;
    padding:0;
}

button:hover {
     color: yellow;
}

button:focus {
  outline:0;
}

#temp {
  font-size: 2em;
}

#image {
 background: red;
}
